{% extends "_base.html" %}

{% load static %}
{% block title %}
Game Names
{% endblock title %}

{% block content %}
<div class="container mx-auto px-4 sm:px-8">
  <div class="py-8">
    <div class="flex justify-center mb-4">
      <h2 class="text-2xl font-bold leading-tight">Top 100 Mobile Games</h2>
    </div>
    <div class="overflow-x-auto">
      <table id="datatable" class="min-w-full divide-y divide-gray-200">
        <thead>
          <tr>
            <th class="px-6 py-3 bg-orange-300 text-left text-xs font-medium text-gray-950 uppercase tracking-wider">
              Game Name
            </th>
            <th class="px-6 py-3 bg-orange-300 text-left text-xs font-medium text-gray-950 uppercase tracking-wider">
              Developer
            </th>
            <th class="px-6 py-3 bg-orange-300 text-left text-xs font-medium text-gray-950 uppercase tracking-wider">
              Genre
            </th>
            <th class="px-6 py-3 bg-orange-300 text-left text-xs font-medium text-gray-950 uppercase tracking-wider">
              Rating
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          {% for game in games %}
          <tr>
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
              {{ game.name }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              {{ game.developer }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              {{ game.genre }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              {{ game.rating }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#datatable').DataTable({
      "paging": true,
      "info": true,
      "searching": true,
      "order": [[0, "asc"]],
      "dom": '<"flex justify-end pb-2"f>rt<"flex justify-between items-center pt-2"ip>',
      "language": {
        "search": "_INPUT_",
        "searchPlaceholder": "Search games",
      },
    });
  });
</script>
{% endblock content %}
